::-webkit-scrollbar {
    display: none;
}
body#blocked{
	overflow: hidden;
}
header, footer{
	z-index: 20;
}
header{
	display: flex;
	position: fixed;
	align-items: center;
	top: 0;
	left: 0;
	height: 50px;
	width:100%;
	background-color: #2E2E2E;
	transition: opacity .3s;
}
header#hidden{
	opacity: 0
}
footer{
	width: 100%;
	height: 400px;
	background-color: #2E2E2E;
}
input, .closing-area, .modal-open-arrow, .page-change-arrow{
	cursor: pointer;
}
.absolute{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
.hidden{
	display: none;
}
.centered{
	margin-left: auto;
	margin-right: auto;
}
.loading-spinner{
	display: inline-block;
	width: 40px;
	height: 40px;
}
.loading-spinner::after{
	content: " ";
	display: block;
	width: 32px;
	height: 32px;
	margin: 4px;
	border-radius: 50%;
	border: 3px solid #000;
	border-color: #000 transparent #000 transparent;
	animation: loading-spinner 1.2s linear infinite;
}
@keyframes loading-spinner{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.content{
	position: relative;
	width: 100%;
	min-height: 120vh;
	margin-top: 50px;
}
.default-page{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 930px;
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}
.default-image{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.card{
	width: 200px;
	height: 280px;
	border: 1px solid #B1B1B1;
	border-radius: 5%;
	margin: 30px 12px;
	overflow: hidden;
}
.catalog-menu, .categories-list{
	display: flex;
	align-items: center;
	width: 100%;
}
.catalog-menu{
	justify-content: space-between;
}
.categories-list{
	flex-wrap: wrap;
}
.category-item{
	display: flex;
	align-items: center;
	list-style: none;
	padding: 5px 10px;
	border-radius: 8px;
	user-select: none;
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
}
.category-item:not(:last-child){
	margin-right: 5px;
}
.category-item:not(:first-child){
	margin-left: 5px;
}
.closing-area{
	position: relative;
	align-items: center;
	border-radius: 50%;
	color: #000;
	width: 14px;
	height: 14px;
	margin-left: 8px;
}
.closing-area::before, .closing-area::after{
	content: " ";
	position: absolute;
	left: 50%;
	width: 1px;
	height: 100%;
	background-color: #000;
}
.closing-area::before{
	transform: rotate(45deg);
}
.closing-area::after{
	transform: rotate(-45deg);
}
.modal-open-arrow{
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 20px;
	width: 30px;
	height: 16px;
}
.modal-open-arrow::before, .modal-open-arrow::after{
	transition: border-top .3s, border-bottom .3s;
}
.modal-open-arrow::before{
	content: " ";
	height: 5px;
	width: 100%;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.modal-open-arrow::after{
	content: " ";
	height: 5px;
	width: 100%;
	border-bottom: 2px solid #fff;
}
.modal{
	top: 0;
	left: 0;
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	transition: background .3s linear;
}
.modal#active{
	background-color: rgba(0, 0, 0, .6);
}
.modal-body{
	position: absolute;
	top: 0;
	right: -310px;
	height: 100%;
	width: 280px;
	max-width: 100%;
	background-color: #fff;
	transition: right .3s ease-in-out;
}
.modal-body#active{
	right: 0;
}
.search-modal-body{
	position: absolute;
	top: 70px;
	right: 0;
	height: 0px;
	width: 400px;
	max-width: 100%;
	background-color: #fff;
	overflow: hidden;
	transition: height .3s;
}
.search-modal-body#active{
	height: 300px;
}
.search-panel{
	position: fixed;
	right: 70px;
	top: 22px;
	z-index: 21;
}
.search-panel#active{
	z-index: 100;
}
.filter-group{
    padding: 20px 10px;
}
.filter-group:not(:last-child){
    border-bottom: 1px solid #D3D3D3;
}
.filter-group-title{
	display: flex;
	border-bottom: 2px solid #000;
	width: 100%;
	justify-content: center;
	margin-bottom: 12px;
}
.direction-filter-menu{
	display: flex;
	justify-content: center;
}
.direction-filter-group{
	display: flex;
	width: 100%;
}
.direction-filter{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	max-width: 50%;
	border: 1px solid #D3D3D3;
	transition: backgound-color .3s, color .3s, border .3s;
}
.direction-filter:first-child{
	border-radius: 10px 0 0 10px;
}
.direction-filter:last-child{
	border-radius: 0 20px 20px 0;
}
.direction-filter:not(:last-child){
	margin-right: 4px;
}
.direction-filter:hover{
	background-color: #D3D3D3;
}
.direction-filter#active{
	border: 1px solid #000;
	color: #fff;
	background-color: #000;
}
.data-section{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.manga-page{
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
}
.page-list{
	margin-left: auto;
	margin-right: auto;
}
.page-list#incolumn{
	width: 720px;
}
.page-wrapper{
	min-height: 340px;
	max-width: 100%;
}
.page-wrapper[data-loaded]{
	background: url(loader.svg);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 50%;
}
.page-wrapper[data-loaded][data-initial]{
	height: 100vh;
	background: url(loader.svg);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 50%;
}
.page-wrapper#hidden{
	display: none;
}
.page-image{
	max-width: 100%;
	object-fit: contain;
}
.page-change-area{
	position: absolute;
	width: 50%;
	min-height: 100%;
}
@media only screen and (max-width: 1100px){
	.page-change-area{
		min-width: 50%;
	}
}
.page-change-area:not(:first-child):not(:last-child){
	left: 0;
}
.page-change-area:last-child{
	right: 0;
}
.page-change-btn{
	width: 50%;
	height: 20px;
	border: 2px solid #000;
	background-color: #fff;
	color: #000;
}
.reader-menu{
	width: 100%;
	display: flex;
}